{% extends 'header.html' %}
<html lang="en">
<head>
</head>
<body>
    {% block content %}
    {{ super() }}

    <div class="container-lg my-5 mx-auto">
      <div class="row justify-content-center">

          <iframe style="width: 86.25rem; height: 29.813rem; border-radius: 2rem;" src="https://www.youtube.com/embed/{{ movie_key }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      </div>
    </div>

    <div class="container-lg my-5 mx-auto">
      <div class="row align-items-center">
        
        <div class="col-sm-6 col-lg-3">
          <img class="img-fluid rounded" src="{{ movie_details[0][0] }}" alt="">
        </div>
        
        <div class="col-sm-6 mt-3 col-lg-3">
          <div class="row">
            <p class="lead">{{ movie_details[0][1] }}</p>
            <p class="lead">Release date: {{ movie_details[0][2] }}</p>
            <p class="lead">Duration: {{ movie_details[0][3] }} minutes</p>
            <p class="lead">IMDB: {{ movie_details[0][4] }}</p>
            <br>
            <p class="lead">Overview</p>
            <br>
            <p class="lead-xs">{{ movie_details[0][5] }}</p>
          </div>

        </div>

      </div>
    
    </div>


    <div class="container-lg my-5 mx-auto">
      <div class="col">
        <form action="/details/{{ movie_id }}" method="POST">
          {{ form.hidden_tag() }}
          {{ form.comment_written.label(class='mb-2') }}
          {{ form.comment_written(class='form-control mb-2') }}
          
          {% if 'email' not in session %}
            <p class="lead text-danger">You need to be authorized to comment.</p>
            <button class="btn btn-outline-primary" disabled>Comment</button>
          {% else %}
            {{ form.submit(class='btn btn-outline-primary') }}
          {% endif %}
        </form>
      </div>
    </div>

    <div class="container-md my-5 mx-auto">

      {% if display_comments %}
        {% for i in display_comments %}
          <div class="row mb-2">
            <div class="col-6 text-start">
              <label for="exampleFormControlTextarea1" class="form-label">Commented by: {{ i[0] }}</label>
            </div>

            {% if ('email' in session) and ( i[0] == session['email'] ) %}
              <div class="col-6 text-end">
                <a href="/remove_comment/{{ i[3] }}" class="btn btn-outline-danger btn-sm"><i class="bi bi-trash"></i></a>
              </div>
            {% endif %}

            </div>
          <textarea class="form-control border-0 mb-2" id="textAreaExample3" rows="2" readonly>{{ i[1] }}</textarea>
          <p class="lead-6 fw-bold mb-4">{{ i[2] }}</p>
          {% endfor %}
        {% endif %}
          
        </div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    {% endblock %}

</body>
</html>