{% extends 'header.html' %}
<html lang="en">
<head>
    </style>
</head>
<body>
    {% block content %}
    {{ super() }}

    <div class='container-fluid'>
        
        <div class='row justify-content-center align-items-center mx-auto my-5'>

            <div class='col-4'>
            
                <form class='form' action="{{ url_for('login') }}" method="POST">
                    {{ form.hidden_tag() }}
                    <p class="display-6">Sign In</p>
                    {{ form.email(class="form-control mb-3", placeholder='email') }}
                    {{ form.password(class='form-control mb-3', placeholder='password') }}
                    {{ form.submit(class='btn btn-success form-control mb-3') }}

                </form>               
                
            </div>

        </div>

    </div>

    {% endblock %}

</body>
</html>