{% extends 'header.html' %}
<html lang="en">
<head>
    </style>
</head>
<body>
    {% block content %}
    {{ super() }}

    <div class='container-fluid'>
        
        <div class='row justify-content-center align-items-center mx-auto my-5'>



            <div class='col-4'>

                <form class='form' action="{{ url_for('register') }}" method="POST">
                    {{ form.hidden_tag() }}

                    <p class="display-6">Sign Up</p>
                    {{ form.email(class="form-control mb-3", placeholder='email') }}
                    {{ form.name(class='form-control mb-3', placeholder='name') }}
                    {{ form.surname(class='form-control mb-3', placeholder='surname') }}
                    {{ form.password(class='form-control mb-3', placeholder='password') }}
                    {{ form.submit(class='btn btn-success form-control mb-3') }}
                    <a href="{{ url_for('login') }}">Already have an account?</a>

                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for i, j in messages %}
                                <div class="alert alert-{{ i }}" role="alert">{{ j }}</div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                </form>               
                
            </div>

        </div>

    </div>

    {% endblock %}

</body>
</html>